{% extends 'base.html' %}


{% block content %}
    
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/tasks/create/" method="POST" class="card card-body mt-5">

                <h1>Crear nueva tarea</h1>

                {{error}}

                {% csrf_token %}

                <div class="mb-3">
                    <label for="titulo">Titulo:</label>
                    <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Escriba un titulo">
                </div>
            
                <div class="mb-3">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Escribe tu contraseña">
                </div>

                <button class="btn btn-primary">
                    Guardar
                </button>
            </form> 
        </div>   
    </div>
</main>

{% endblock %}