{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">

        <h1 class="display-1 text-center">Gestión de Tareas</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolore repudiandae qui totam sit incidunt doloremque
        fugiat dicta. Impedit, inventore! Placeat aut nemo vel ipsa, vero similique veritatis adipisci, autem nulla minima,
        atque facilis necessitatibus culpa provident dolor sunt? Quo eius vel quibusdam alias molestias odio, qui a veniam
        nemo optio corporis adipisci laudantium temporibus voluptatibus nisi aspernatur, culpa repellat officiis soluta,
        iusto laborum recusandae. Error nulla ipsa ea maxime aspernatur unde odio voluptatem deleniti ducimus tempore cumque
        delectus laudantium tenetur quod eveniet, consequatur expedita fuga dicta. Et, repudiandae, aspernatur accusamus
        architecto amet reprehenderit, possimus quidem reiciendis magni delectus iste?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Ingresar
            </a>
            <a class="btn btn-dark" href="/signup/">
                Registrarse
            </a>
        </div>
    
    </section>
</main>



{% endblock %}